.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0
}

#vid-section {
  
  width: 100%;
  z-index: -1000;
  overflow: hidden;
  top: 0;
  left: 0;
  }

#bgvideo {
  min-width: 100%;
  min_height: 100%;
}

.logo-section{
  position: fixed;
  top: 20%;
  width: 100%;
  text-align: center;
}

.logo-section img{
  width:65%;
}

.entry-button {
  display: block;
  background: none;
  text-align: center;
  text-decoration: none;
  color: white;
  list-style-type: none;
  font-size: 18pt;
  font-variant: small-caps; 
  text-align: center;
  padding: 1%;
  margin-top: -5%;
  margin-left: 50%;
  border: 1px solid white;
  width: 20%;
}

.entry-button:hover{
  background-color: rgba(0, 0, 0, 0.2);

}

#log-book-header{
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  width: 40%;
  min-width: 400px;
  margin: auto;
  background: linear-gradient(#59BED9, #2868B3);
}